---
import Letter from "@/components/Letter.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="font-semibold">L'última sorpresa</h1>
  <Letter>
    <p>Si endevines a quina ciutat hi ha un edifici semblant a aquest, hi anem de viatge!</p>
    <figure class="">
      <img src="/images/madrid.png" alt="" class="h-32 rounded-md mx-auto shadow-md shadow-slate-400">
    </figure>
  </Letter>
</MainLayout>