---
import ErrorMessage from "@/components/ErrorMessage.astro";
import { ExpandableLetter } from "@/components/ExpandableLetter";
import Letter from "@/components/Letter.astro";
import MainLayout from "@/layouts/MainLayout.astro";

let message = ''
let correct = false
let expandedLetter = true
let error = false

if(Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const first = data.get('first')
    const second = data.get('second')
    const third = data.get('third')

    if(first?.toString() == '49' && second?.toString() == '7831' && third?.toString() == '63') {
      correct = true
      message = ''
      expandedLetter = false
      error = false
    } else {
      message = 'Revisa bé les solucions que has donat, hi ha algun error!'
      error = true
    }
  } catch (error) {
    
  }
}
---

<MainLayout>
  <h1 class="font-semibold">La porta màgica</h1>
  <div class="flex flex-col gap-5">
    {
      error &&
        <ErrorMessage>
          <p>Alguna de les tres solucions no és correcta.</p>
        </ErrorMessage>
    }
    {
      correct &&
        <Letter>
          <p>Has aconseguit obrir la porta... fantàstic! Entra i estigues preparada. Estàs entrant en un territori perillós, quedes avisada.</p>
          <a href="/prova3" class="text-center">Entrar</a>
        </Letter>
    }
    <ExpandableLetter expanded={expandedLetter} client:idle>
      <figure>
        <img src="/public/images/door.png" alt="" class="h-28 rounded-md mx-auto shadow-md shadow-slate-400">
      </figure>
      <p>Ara que has aconseguit desxifrar el primer enigma, t'he de confesar que era molt senzill. Aquesta vegada t'ho posaré una mica més difícil.</p>
      <p>Davant teu tens l'edifici on estem l'Antonia i jo. Per accedir només existeix una manera: a través de la porta principal. Aquesta porta té tres sistemes de seguretat. Els hauràs de resoldre els tres per obrir-la.</p>
    </ExpandableLetter>
    <div class="bg-orange-950 rounded-md p-5">
      <form method="post">
        <div class="flex flex-col gap-10 items-center">
          <code>
            <span>4, 2 = 36</span>
            <span>3, 7 = 100</span>
            <span>5, 4 = 81</span>
            <span>1, 6 = <input type="number" class="w-20" name="first" id="second" value={correct ? '49' : ''} required></span>
          </code>
          <code>
            <span>1783, 3178, 8317, <input class="w-20" type="number" name="second" id="second" value={correct ? '7831' : ''} required></span>
          </code>
          <code>
            <span>7, 15, 31, <input class="w-20" type="number" name="third" id="third" value={correct ? '63' : ''} required></span>
          </code>
          <input type="submit" name="" id="">
          {
            message !== ''
             &&
             <p>{message}</p>
          }
        </div>
      </form>
    </div>
  </div>
</MainLayout>

<style>
  code {
    @apply flex flex-col gap-3 text-lg w-full items-center border p-5 rounded-md
  }
</style>