---
import { ExpandableLetter } from "@/components/ExpandableLetter";
import Letter from "@/components/Letter.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import ErrorMessage from "@/components/ErrorMessage.astro";

let message = ''
let correct = false
let error = false
let expandedLetter = true

if(Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const solution = data.get('solution')

    const correctSolution = 'Carrer Enigma S/N'
    if(solution && solution.toString().trim().toLowerCase() === correctSolution.toLowerCase()) {
      correct = true
      message = ''
      expandedLetter = false
      error = false
    } else {
      message = 'Resposta incorrecta'
      correct = false
      error = true
    }
  } catch (error) {
    console.log(error)
  }
}
---

<MainLayout>
  <h1 class="font-semibold">La direcci贸 secreta</h1>
  <div class="flex flex-col gap-5">
    {
      error 
        && (
          <ErrorMessage>
            La direcci贸 que has introduit no 茅s la mateixa on ens trobem l'Antonia i jo.
          </ErrorMessage>
        )
    }
    {correct && 
      <Letter>
        <p>Genial! Ara ja saps on venir a buscar a la teva amiga.</p>
        <a href="/prova2" class="text-center">Anar</a>
      </Letter>
    }
    <ExpandableLetter expanded={expandedLetter} client:idle>
      <figure>
        <img src="/public/images/map.png" alt="" class="h-28 rounded-md mx-auto shadow-md shadow-slate-400">
      </figure>
      <p>Aquesta 茅s la primera prova a la que t'enfrentars avui. Com t'he dit, tinc a l'Antonia capturada i la primera cosa que haurs de fer 茅s desxifrar on.</p>
      <p>Quan aconsegueixis treure l'entrellat d'aquesta prova, obtindrs la direcci贸 d'on estem</p>
      <p>I recorda, aix貌 es un joc de 3 </p>
    </ExpandableLetter>
    <Letter>
      <p>Direcci贸 xifrada:</p>
      <code class="bg-orange-950 text-orange-200 rounded-md p-2">
        <!-- Fduuhu Hqljpd V/Q -->
        Zxoobo Bkfdjx P/K
      </code>
      <form method="post" class="flex flex-col gap-5">
        <div class="flex flex-col gap-1">
          <input type="text" placeholder="Introdueix la teva resposta" name="solution" disabled={correct} value={correct ? 'Carrer Enigma S/N' : ''} required>
          <p class="text-xs mt-0">{message}</p>
        </div>
        <input type="submit">
      </form>
    </Letter>
  </div>
</MainLayout>