---
import { ExpandableLetter } from "@/components/ExpandableLetter";
import MainLayout from "@/layouts/MainLayout.astro";

---

<MainLayout>
  <h1 class="font-semibold">Enhorabona!</h1>
  <ExpandableLetter expanded={true} from="Antonia Scott" client:idle>
    <figure class="">
      <img src="/images/celebrate.png" alt="" class="h-28 rounded-md mx-auto shadow-md shadow-slate-400">
    </figure>
    <p>Quin enginy, Mariona! Has demostrat estar més que preparada per seguir acompanyant-me en les meves aventures.</p>
    <p>Espero que les gaudeixis tant com fins ara! Ens seguim veient als llibres!</p>
    <p>Ah! Per cert, si fas click al següent botó potser trobes una altra sorpresa...</p>
    <a href="/sorpresa" class="text-center">Què serà?</a>
  </ExpandableLetter>
</MainLayout>