---
import Letter from "@/components/Letter.astro"
import MainLayout from "@/layouts/MainLayout.astro"
---

<MainLayout>
	<h1 class="font-semibold">Red Queen</h1>
	<Letter>
		<p>Hola, Mariona. Tu no saps qui sóc, però jo et conec bastant bé. Últimament has estat fent nous amics, però per mi no són ni nous, ni precisament amics.</p>
		<p>Vull fer-te saber que tinc a l'Antonia Scott y que he deixat fora de joc durant uns dies al Jon Guitiérrez. Si vols que l'Antonia segueixi amb vida, hauràs de jugar el meu joc.</p>
		<p>Quan estiguis preparada, començaré a jugar amb tu.</p>
		<i class="mt-3 font-semibold">Malo Maloso.</i>
		<div class="flex justify-center mt-3">
			<a href="/prova1">Comencem</a>
		</div>
	</Letter>
</MainLayout>
