---

---

<div class="bg-orange-700 rounded-md p-5 text-orange-100 font-merriweather flex flex-col gap-3">
  <p class="text-xl font-semibold text-center">No és correcte...</p>
  <slot/>
  <p>Torna-ho a intentar.</p>
</div>